{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Posts</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

  </head>

  <body>
    <header>
        <a href="{% url 'empty' %}">
            <h1>My Blog</h1>
        </a>
    </header>
    <div class="container">
        <div class="column">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer id="footer">
      <p>&copy; 2023 My Blog Django example</p>
    </footer>
  </body>
</html>