{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Posts</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

  </head>

  <body>
    <header>
        <div style="display: flex;justify-content: space-evenly;align-items: center;width: 100%;">
            <a href="{% url 'empty' %}">
                <h1>My Blog</h1>
            </a>
            {% if user.is_authenticated %}
                <p>{{user.get_username}}</p>
                {% if perms.main.add_post %}
                    <a href="{% url 'add' %}">Add post</a>
                {% endif %}
                <a href="{% url 'logout' %}?next={{request.path}}">logout</a>
            {% else %}
                <a href="{% url 'login' %}?next={{request.path}}">login</a>
            {% endif %}
        </div>
    </header>
    <div class="container">
        <div class="column">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer id="footer">
      <p>&copy; 2023 My Blog Django example</p>
    </footer>
  </body>
</html>